body {
    font-family: "BCDowntown";
}
.home {
    &__main {
        background-color: #fff8f3;
    }
}
.lazy {
    &__block {
        background-color: #a0cea0;
        animation: fadeAndDisappear 3s forwards;
        opacity: 0;
        z-index: -1;
        img {
            animation: roll 3s forwards;
        }
    }
}
@keyframes fadeAndDisappear {
    0% {
        opacity: 1;
        z-index: 999;
    }
    60% {
        opacity: 1;
        z-index: 999;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.text-shadow {
    text-shadow: 2px 0px 1px #bd322e;
}
